### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Windows OS ###
/.idea/

### Mac OS ###
\.idea\
.DS_Store
*DS_Store
*/DS_Store